main {
    font-family: "Poppins", sans-serif;
}
.box_text{
    -webkit-text-stroke: 1px currentColor;
    -webkit-text-fill-color: transparent;
}

.tabs-boxed :is(.tab-active,[aria-selected=true]):not(.tab-disabled):not([disabled]), .tabs-boxed :is(input:checked) {
background-color: #42526e;
}

.tabs-boxed .tab {
border-radius: 15px;
overflow: hidden;
}


/* ==== tab ===== */


/* 
// Tabs */
.tabs {
  display: grid;
}

[role="tablist"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

[role="tabpanel"] {
  background: #ffc600;
  padding: 2rem;
}

button {
	background: #e7e7e7;
	border: 0;
	color: black;
	border-radius: 5px 5px 0 0;
	--bs-color: rgba(0,0,0,0.1);
	box-shadow: inset 0 -2px 5px var(--bs-color);
	cursor:pointer;
	font-size: 20px;
	padding: 15px;
}

button[aria-selected="true"] {
	background: #ffc600;
	box-shadow: none;
	color: rgba(0,0,0,0.7);
}

button:focus {
  outline: 0;
  --bs-color: rgba(0,0,0,0.6);
}