main {
    font-family: "Poppins", sans-serif;
}
.box_text{
    -webkit-text-stroke: 1px currentColor;
    -webkit-text-fill-color: transparent;
}

.tabs-boxed :is(.tab-active,[aria-selected=true]):not(.tab-disabled):not([disabled]), .tabs-boxed :is(input:checked) {
background-color: #42526e;
}

.tabs-boxed .tab {
border-radius: 15px;
overflow: hidden;
}


/* ==== tab ===== */


/* 
// Tabs */

button[aria-selected="true"] {
	background: #42526e;
	box-shadow: none;
	color: white;
}

button:focus {
  outline: 0;
  --bs-color: rgba(0,0,0,0.6);
}
