main {
    font-family: "Poppins", sans-serif;
}
.box_text{
    -webkit-text-stroke: 1px currentColor;
    -webkit-text-fill-color: transparent;
}

.tabs-boxed :is(.tab-active,[aria-selected=true]):not(.tab-disabled):not([disabled]), .tabs-boxed :is(input:checked) {
background-color: #42526e;
}

.tabs-boxed .tab {
border-radius: 15px;
overflow: hidden;
}


/* ==== tab ===== */


/* 
// Tabs */

button[aria-selected="true"] {
	background: #42526e;
	box-shadow: none;
	color: white;
}

button:focus {
  outline: 0;
  --bs-color: rgba(0,0,0,0.6);
}


/* slider  */
.slider {
  position: relative;
  display: flex;
  gap: 20px;
  transition: transform ease 0.2s;
}

.slide {
  transition: transform ease 0.2s, opacity ease 0.2s;
  opacity: 0.5;
}

.slide.active {
  opacity: 1;
}

.slider-wrapper {
  position: relative;
}

.prev-button {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
}